<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoneyWise</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.0/Chart.min.js'></script>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/style.css')}}">
</head>

<body>
    <div class="dashboard"><!-- Dashboard -->
        <section class="navigation"><!-- Navigation -->
          <aside class="sidebar">            
            <nav class="nav">
              <img class="logo" src="logo/logo-final.png">
              <ul class = "nav-list">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Report</a></li>
                <li><a href="{{url_for('takeout')}}">Google Takeout</a></li>
              </ul>
            </nav>
          </aside>
        </section><!-- Navigation End -->


        <section class="main"><!-- Main -->
          <aside class="main-bar">
            <div class="total">
              <div class="total-progress">
                <div class="total-spent">0%</div>
              </div>
              
            </div>
            
            <div class="monthly">
              <canvas id="bar-chart" width="400" height="300"></canvas>
            </div>
          </aside>
        </section><!-- Main End -->

        <section class="secondary"><!-- Secondary -->
            <div class="goal">
                <div class="complete">
                    <a href="{{url_for('setgoals')}}" class="setgoal">Set Goal</a>
                </div>
            </div>

            <div class="categories"><!-- Category Tracker -->
                <div class="cat-container">
                    <div class="cat-label">
                        FOOD
                    </div>
                    <div class="circular-progress-1" id="prog">
                      <div class="value-container-food">0%</div>
                    </div>
                </div>

                <div class="cat-container">
                    <div class="cat-label">
                        TRAVEL
                    </div>
                    <div class="circular-progress-2" id="prog">
                      <div class="value-container-travel">0%</div>
                    </div>
                </div>
                
                <div class="cat-container">
                    <div class="cat-label">
                        SHOPPING
                    </div>
                    <div class="circular-progress-3" id="prog">
                      <div class="value-container-shopping">0%</div>
                    </div>
                </div>

                <div class="cat-container">
                    <div class="cat-label">
                        SERVICES
                    </div>
                    <div class="circular-progress-4" id="prog">
                      <div class="value-container-services">0%</div>
                    </div>
                </div>

                <div class="cat-container">
                    <div class="cat-label">
                        TRANSFERS
                    </div>
                    <div class="circular-progress-5" id="prog">
                      <div class="value-container-transfers">0%</div>
                    </div>
                </div>

                <div class="cat-container">
                    <div class="cat-label">
                        HEALTH
                    </div>
                    <div class="circular-progress-6" id="prog">
                      <div class="value-container-health">0%</div>
                    </div>
                </div>

                <div class="cat-container">
                    <div class="cat-label">
                        ENTERTAINMENT
                    </div>
                    <div class="circular-progress-7" id="prog">
                      <div class="value-container-ent">0%</div>
                    </div>
                </div>

                <div class="cat-container">
                    <div class="cat-label">
                        BILLS
                    </div>
                    <div class="circular-progress-8" id="prog">
                      <div class="value-container-bills">0%</div>
                    </div>
                </div>

                <div class="cat-container">
                    <div class="cat-label">
                        CAFE
                    </div>
                    <div class="circular-progress-9" id="prog">
                      <div class="value-container-cafe">0%</div>
                    </div>
                </div>

                <div class="cat-container">
                    <div class="cat-label">
                        BEVERAGES
                    </div>
                    <div class="circular-progress-10" id="prog">
                      <div class="value-container-bev">0%</div>
                    </div>
                </div>

                <div class="cat-container">
                    <div class="cat-label">
                        MISCELLANEOUS
                    </div>
                    <div class="circular-progress-11" id="prog">
                      <div class="value-container-misc">0%</div>
                    </div>
                </div>
            </div><!-- Categories End -->

        </section><!-- Secondary End -->

    </div><!-- Dashboard End-->
    


    

<!-- Category Percentage JavaScript  -->
<script>
  var d= JSON.parse({{ dict| tojson }});
 </script>

<!-- Category Percentage JavaScript  -->
  <script>
  let foodBar = document.querySelector(".circular-progress-1");
  let foodContainer = document.querySelector(".value-container-food");
  // var dfood= JSON.parse({{ dict| tojson }});
  // alert(d.Food)
  let foodValue = 0;
  let foodEndValue = d.Food;
  let foodSpeed = 50;

  let foodProgress = setInterval(() => {
  foodValue++;
  foodContainer.textContent = `${foodValue}%`;
  foodBar.style.background = `conic-gradient(
    #439A97 ${foodValue * 3.6}deg,
    #EBF9F7 ${foodValue * 3.6}deg
  )`;
  if (foodValue == foodEndValue) {
  clearInterval(foodProgress);
  }
  }, foodSpeed);
  </script>

<script>
  let travelBar = document.querySelector(".circular-progress-2");
  let travelContainer = document.querySelector(".value-container-travel");

  // var dtravel = JSON.parse({{ dict| tojson }});
  // alert(d.Travel)
  let travelValue = 0;
  let travelEndValue = d.Travel;
  let travelSpeed = 50;

  let travelProgress = setInterval(() => {
  travelValue++;
  travelContainer.textContent = `${travelValue}%`;
  travelBar.style.background = `conic-gradient(
    #439A97 ${travelValue * 3.6}deg,
    #EBF9F7 ${travelValue * 3.6}deg
  )`;
  if (travelValue == travelEndValue) {
  clearInterval(travelProgress);
  }
  }, travelSpeed);
</script>


<script>
  let shopBar = document.querySelector(".circular-progress-3");
  let shopContainer = document.querySelector(".value-container-shopping");

  // var dshop= JSON.parse({{ dict| tojson }});
  // alert(d.Shopping)
  let shopValue = 0;
  let shopEndValue = d.Shopping;
  let shopSpeed = 50;

  let shopProgress = setInterval(() => {
  shopValue++;
  shopContainer.textContent = `${shopValue}%`;
  shopBar.style.background = `conic-gradient(
    #439A97 ${shopValue * 3.6}deg,
    #EBF9F7 ${shopValue * 3.6}deg
  )`;
  if (shopValue == shopEndValue) {
  clearInterval(shopProgress);
  }
  }, shopSpeed);
</script>

<script>
  let servicesBar = document.querySelector(".circular-progress-4");
  let servicesContainer = document.querySelector(".value-container-services");

  // var dservice= JSON.parse({{ dict| tojson }})
  // alert(d.Services)
  let servicesValue = 0;
  let servicesEndValue =d.Services;

  let servicesSpeed = 50;

  let servicesProgress = setInterval(() => {
  servicesValue++;
  servicesContainer.textContent = `${servicesValue}%`;
  servicesBar.style.background = `conic-gradient(
    #439A97 ${servicesValue * 3.6}deg,
    #EBF9F7 ${servicesValue * 3.6}deg
  )`;
  if (servicesValue == servicesEndValue) {
  clearInterval(servicesProgress);
  }
  }, servicesSpeed);
</script>

<script>
  let transfersBar = document.querySelector(".circular-progress-5");
  let transfersContainer = document.querySelector(".value-container-transfers");

  // var dtransfer=JSON.parse({{ dict| tojson }});
  let transfersValue = 0;
  // alert(d.Transfers)
  let transfersEndValue = d.Transfers;
  let transfersSpeed = 50;

  let transfersProgress = setInterval(() => {
  transfersValue++;
  transfersContainer.textContent = `${transfersValue}%`;
  transfersBar.style.background = `conic-gradient(
    #439A97 ${transfersValue * 3.6}deg,
    #EBF9F7 ${transfersValue * 3.6}deg
  )`;
  if (transfersValue == transfersEndValue) {
  clearInterval(transfersProgress);
  }
  }, transfersSpeed);
</script>

<script>
  let healthBar = document.querySelector(".circular-progress-6");
  let healthContainer = document.querySelector(".value-container-health");

  // var dhealth= JSON.parse({{ dict| tojson }});
  let healthValue = 0;
  // alert("Health",d.Health)
  let healthEndValue = d.Health;
  let healthSpeed = 50;

  let healthProgress = setInterval(() => {
  healthValue++;
  healthContainer.textContent = `${healthValue}%`;
  healthBar.style.background = `conic-gradient(
    #439A97 ${healthValue * 3.6}deg,
    #EBF9F7 ${healthValue * 3.6}deg
  )`;
  if (healthValue == healthEndValue) {
  clearInterval(healthProgress);
  }
  }, healthSpeed);
</script>

<script>
  let entBar = document.querySelector(".circular-progress-7");
  let entContainer = document.querySelector(".value-container-ent");

  // var dent= JSON.parse({{ dict| tojson }});
  let entValue = 0;
  let entEndValue = d.Entertainment;
  let entSpeed = 50;

  let entProgress = setInterval(() => {
  entValue++;
  entContainer.textContent = `${entValue}%`;
  entBar.style.background = `conic-gradient(
    #439A97 ${entValue * 3.6}deg,
    #EBF9F7 ${entValue * 3.6}deg
  )`;
  if (entValue == entEndValue) {
  clearInterval(entProgress);
  }
  }, entSpeed);
</script>

<script>
  let billsBar = document.querySelector(".circular-progress-8");
  let billsContainer = document.querySelector(".value-container-bills");

  // var dbills=JSON.parse({{ dict| tojson }});
  let billsValue = 0;
  let billsEndValue = d.Bills;
  let billsSpeed = 50;

  let billsProgress = setInterval(() => {
  billsValue++;
  billsContainer.textContent = `${billsValue}%`;
  billsBar.style.background = `conic-gradient(
    #439A97 ${billsValue * 3.6}deg,
    #EBF9F7 ${billsValue * 3.6}deg
  )`;
  if (billsValue == billsEndValue) {
  clearInterval(billsProgress);
  }
  }, billsSpeed);
</script>

<script>
  let cafeBar = document.querySelector(".circular-progress-9");
  let cafeContainer = document.querySelector(".value-container-cafe");

  // var dcafe=JSON.parse({{ dict| tojson }});
  let cafeValue = 0;
  let cafeEndValue = d.Cafe;
  let cafeSpeed = 50;

  let cafeProgress = setInterval(() => {
  cafeValue++;
  cafeContainer.textContent = `${cafeValue}%`;
  cafeBar.style.background = `conic-gradient(
    #439A97 ${cafeValue * 3.6}deg,
    #EBF9F7 ${cafeValue * 3.6}deg
  )`;
  if (cafeValue == cafeEndValue) {
  clearInterval(cafeProgress);
  }
  }, cafeSpeed);
</script>

<script>
  let bevBar = document.querySelector(".circular-progress-10");
  let bevContainer = document.querySelector(".value-container-bev");

  // var dbev=JSON.parse({{ dict| tojson }});
  let bevValue = 0;
  let bevEndValue = d.Beverages;
  let bevSpeed = 50;

  let bevProgress = setInterval(() => {
  bevValue++;
  bevContainer.textContent = `${bevValue}%`;
  bevBar.style.background = `conic-gradient(
    #439A97 ${bevValue * 3.6}deg,
    #EBF9F7 ${bevValue * 3.6}deg
  )`;
  if (bevValue == bevEndValue) {
  clearInterval(bevProgress);
  }
  }, bevSpeed);
</script>

<script>
  let miscBar = document.querySelector(".circular-progress-11");
  let miscContainer = document.querySelector(".value-container-misc");

  // var dmisc= JSON.parse({{ dict| tojson }});
  let miscValue = 0;
  let miscEndValue = d.Miscellaneous;
  let miscSpeed = 50;

  let miscProgress = setInterval(() => {
  miscValue++;
  miscContainer.textContent = `${miscValue}%`;
  miscBar.style.background = `conic-gradient(
    #439A97 ${miscValue * 3.6}deg,
    #EBF9F7 ${miscValue * 3.6}deg
  )`;
  if (miscValue == miscEndValue) {
  clearInterval(miscProgress);
  }
  }, miscSpeed);
</script>

<!-- Category Percentage JavaScript Ends -->


<!-- Bar Graph JavaScript -->
<script>
  var bar_ctx = document.getElementById('bar-chart').getContext('2d');

  var blue_gradient = bar_ctx.createLinearGradient(0, 0, 0, 700);
  blue_gradient.addColorStop(0, '#CBEDD5');
  blue_gradient.addColorStop(1, '#62B6B7');
  // xValues = JSON.parse({{ months| tojson}});
  yValues = JSON.parse({{ values| tojson}});
  var bar_chart = new Chart(bar_ctx, {
      type: 'bar',
      data: {
          labels: ["Jan", "Feb", "Mar", "April", "May", "June", "July", "Aug", "Sep", "Oct", "Nov", "Dec"],
          datasets: [{
              label: 'Amount Spent',
              data: yValues,
              backgroundColor: blue_gradient,
              hoverBackgroundColor: blue_gradient,
              hoverBorderWidth: 2,
              hoverBorderColor: '#439A97'
          }]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero:true
                  }
              }]
          }
      }
  });
</script>

<script>
  let moneyBar = document.querySelector(".total-progress");
  let moneyContainer = document.querySelector(".total-spent");
   
  alert(JSON.parse({{ tot| tojson}}))
  let moneyValue = 0;
  let moneyEndValue = JSON.parse({{ tot| tojson}});
  let moneySpeed = 50;

  let moneyProgress = setInterval(() => {
  moneyValue++;
  moneyContainer.textContent = `${moneyValue}%`;
  moneyBar.style.background = `conic-gradient(
    #8BC5BA ${moneyValue * 3.6}deg,
    #dcedea${moneyValue * 3.6}deg
  )`;
  if (moneyValue == moneyEndValue) {
  clearInterval(moneyProgress);
  }
  }, moneySpeed);
</script>

</body>
</html>
