<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link rel="stylesheet" href="stylel.css" />
  </head>
  <body>
    <main>
      <div class="box">
        <div class="inner-box">
          <div class="forms-wrap">
            <form action="login_page.html" autocomplete="off" class="sign-in-form">
              <div class="logo">
                <img src="./img/logo.jpg" alt="moneywise" />
                <h4>MoneyWise</h4>
              </div>

              <div class="heading">
                <h2>Welcome Back</h2>
              </div>

              <div class="actual-form">
                <div class="input-wrap">
                  <input
                    type="text"
                    minlength="4"
                    class="input-field"
                    autocomplete="off"
                    required
                    onfocus="this.value=''" value="Name"
                  />

                </div>

                <div class="input-wrap">
                  <input
                    type="password"
                    minlength="4"
                    class="input-field"
                    autocomplete="off"
                    required
                    onfocus="this.value=''" value="Password"
                  />
                </div>
                <br>
                <input type="submit" value="Sign In" class="sign-btn" />
              </div>
            </form>
          </div>

          <div class="carousel">
            <div class="images-wrapper">
              <img src="img\Image1.jpeg" class="image img-1 show" alt="" />

            </div>

            
              <div class="text-wrap">
                <div class="text-group">
                  <h2>Easy Way To Manage Your Money</h2>
                </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
