<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0620a5b864.js" crossorigin="anonymous"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <link rel="stylesheet" href="./stylet.css">

    <title>MoneyWise-Takeout</title>
</head>
<body>
    
<div class="registration-form">
  <header>
    <h1>Upload Google Takeout Data</h1>
  </header>
  <form>
    <!-- <div class="input-section"> -->
      <input type="file" id="myFile" name="filename">
      <button type="Submit" class="Sub" onclick="myFunction()">Submit</button>
    <!-- </div> -->
  </form>
</div>

<div id="success" class="take-report"> 
        <div class="Spend-Chart">
            <canvas id="pieChart" style="width:100%;max-width:1000px"></canvas>
          <script>
          var xValues = ["Food", "Travel", "Shopping", "Services", "Transfers","Health","Entertainment","Bills","Cafe","Beverages","Miscellaneous"];
          var yValues = [55, 49, 44, 24, 15,65,40,25,75,45,30];
          var barColors = [
            "#DBA39A",
            "#BA94D1",
            "#FEBE8C",
            "#B6E2A1",
            "#FFB9B9",
            "#B8E8FC",
            "#FDFDBD",
            "#FFD1D1",
            "#AAC4FF",
            "#9ED2C6",
            "#AAC4FF"
          ];
          
          new Chart("pieChart", {
            type: "pie",
            data: {
              labels: xValues,
              datasets: [{
                backgroundColor: barColors,
                data: yValues
              }]
            },
            options: {
              title: {
                display: true,
                text: "Category-Wise Spent"
              }
            }
          });
          </script>
          </div>

          <div class="Spend-Report">
            <br>
        
          </div>
</div>

    <script>
      function myFunction() {
      var x = document.getElementById("success");
      if (x.style.display == 'none') {
         x.style.display = "block";
      } else {
      x.style.display = 'none';
    }
}
    </script>
</body>
</html>
