<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set Goals</title>
    <link rel="stylesheet" href="stylessg.css">
</head>
<body>  
    <main>
        <h1>SET GOALS</h1>
        <br><br>
        <div class="grid-container">
            <div class="grid-item">
                <div class="middle">
                    <label for="food">FOOD</label><br><br>
                     <input class="tb" type="text" id="food"><br><br>
                     <button class="button button1" onclick="alert('Goal set for food')">SET</button>
                </div>
            </div>
            <div class="grid-item">
                <div class="middle">
                   
                    <label for="travel">TRAVEL</label><br><br>
                    <input class="tb" type="text" id="travel"><br><br>
                     <button class="button button1" onclick="alert('Goal set for travel')">SET</button>
               </div>
            </div>
            <div class="grid-item">
                <div class="middle">
        
                    <label for="shopping">SHOPPING</label><br><br>
                    <input class="tb" type="text" id="shopping"><br><br>
                     <button class="button button1" onclick="alert('Goal set for shopping')">SET</button>
               </div>
            </div>
            <div class="grid-item">
                <div class="middle">
                   
                    <label for="services">SERVICES</label><br><br>
                    <input class="tb" type="text" id="services"><br><br>
                     <button class="button button1" onclick="alert('Goal set for services')">SET</button>
               </div>
            </div>
            <div class="grid-item">
                <div class="middle">
                    <label for="transfers">TRANSFERS</label><br><br>
                    <input class="tb" type="text" id="transfers"><br><br>
                     <button class="button button1" onclick="alert('Goal set for transfers')">SET</button>
               </div>
            </div>
            <div class="grid-item">
                <div class="middle">
        
                    <label for="health">HEALTH</label><br><br>
                    <input class="tb"type="text" id="health"><br><br>
                     <button class="button button1" onclick="alert('Goal set for health')">SET</button>
               </div>
            </div>
            <div class="grid-item">
                <div class="middle">
                   
                    <label for="entertainment">ENTERTAINMENT</label><br><br>
                    <input class="tb"type="text" id="entertainment"><br><br>
                     <button class="button button1" onclick="alert('Goal set for entertainment')">SET</button>
               </div>
            </div>
            <div class="grid-item">
                <div class="middle">
                
                    <label for="bills">BILLS</label><br><br>
                    <input class="tb"type="text" id="bills"><br><br>
                     <button class="button button1" onclick="alert('Goal set for bills')">SET</button>
               </div>
            </div>
            <div class="grid-item">
                <div class="middle">
                    <label for="cafe">CAFE</label><br><br>
                    <input class="tb"type="text" id="cafe"><br><br>
                     <button class="button button1" onclick="alert('Goal set for cafe')">SET</button>
               </div>
            </div>
            <div class="grid-item">
                <div class="middle">
                    
                    <label for="beverages">BEVERAGES</label><br><br>
                    <input class="tb"type="text" id="beverages"><br><br>
                     <button class="button button1" onclick="alert('Goal set for beverages')">SET</button>
               </div>
            </div>
            <div class="grid-item">
                <div class="middle">
                    <label for="miscellaneous">MISCELLANEOUS</label><br><br>
                    <input class="tb" type="text" id="miscellaneous"><br><br>
                     <button class="button button1" onclick="alert('Goal Set for Miscellaneous')">SET</button>
               </div>
            </div>
        </div>
    </main>
</body>
</html>